<turbo-frame id="main_content">
  <section id="about-section" class="container">
    <div class="row align-items-center"> <%# Use Bootstrap row for side-by-side layout %>
      <div class="col-md-4 text-center"> <%# Column for the image, centers it on smaller screens %>
        <%= image_tag 'headshot.jpg', alt: "Ryan Ward Headshot", class: 'about-profile-pic img-fluid' %>
      </div>
      <div class="col-md-8"> <%# Column for the text %>
        <div id="about-text-content">
          <h2>About</h2>
          <p>Hello! I'm a Le Wagon Full Stack Web Development graduate in Tokyo, Japan. My 20 years as a 1st Class Power Engineer honed my problem-solving and system management skills.</p>
          <p>I'm now a backend-focused developer proficient in Ruby on Rails, PostgreSQL, and JavaScript, also exploring Go. I'm actively seeking Junior Backend Developer positions in Tokyo to leverage my unique blend of seasoned experience and fresh coding skills.</p>
          <p>Outside of work, I enjoy learning about Japanese language, culture, and photography (visit my gallery!).</p>
        </div>
      </div>
    </div>
  </section>
</turbo-frame>
