<turbo-frame id="main_content">
  <section id="about-section" class="container py-5">
    <div class="row align-items-center"> <%# Use Bootstrap row for side-by-side layout %>
      <div class="col-md-4 text-center"> <%# Column for the image, centers it on smaller screens %>
        <%= image_tag 'headshot.jpg', alt: "Ryan Ward Headshot", class: 'about-profile-pic img-fluid' %>
      </div>
      <div class="col-md-8"> <%# Column for the text %>
        <div id="about-text-content"> <%# Wrapper for the text for potential future styling %>
          <h2>About</h2>
          <p>Hello! I'm a recent graduate of Le Wagon's Full Stack Web Development program, now based in Tokyo, Japan, with my family. My two decades of leadership and technical experience as a 1st Class Power Engineer in Canada have cultivated a robust problem-solving mindset and a talent for mastering complex systems. While my Le Wagon training covered full stack, I've discovered a strong passion for backend development, gaining proficiency in Ruby on Rails, PostgreSQL, and JavaScript, and currently dabbling in Go. I'm actively expanding my portfolio and seeking Junior Backend Developer positions in Tokyo where I can leverage my unique blend of seasoned experience and fresh coding skills. Outside of development, I enjoy deepening my understanding of Japanese language and culture, and exploring the world through photography (feel free to check out my gallery!).</p>
        </div>
      </div>
    </div>
  </section>
</turbo-frame>
