<turbo-frame id="main_content">
  <section id="about-section" class="container py-5">
    <%# old stuff %>
    <div class="row my-5">
      <div class="col-12">
        <div class="container">
          <div id="about">
            <h2>About</h2>
            <%= image_tag 'headshot.jpg', alt: "profile photo", class: 'avatar' %>
            <p>I'm ....</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</turbo-frame>
