<%# source/partials/_footer.html.erb %>
<footer id="main-footer" class="fixed-bottom shadow-lg py-3"> <%# Removed bg-light %>
  <div class="container">
    <div class="d-flex justify-content-center flex-wrap">
      <div class="button-social d-flex flex-column justify-content-center align-items-center mx-3">
        <i class="fa-solid fa-envelope"></i>
        <%= mail_to "wardry@gmail.com", "", class: 'button-social-link' %>
      </div>
      <div class="button-social d-flex flex-column justify-content-center align-items-center mx-3">
        <i class="fa-brands fa-github"></i>
        <%= link_to "", "https://github.com/Ward-R", target: '_blank', class: 'button-social-link' %>
      </div>
      <div class="button-social d-flex flex-column justify-content-center align-items-center mx-3">
        <i class="fa-brands fa-linkedin"></i>
        <%= link_to "", "https://www.linkedin.com/in/wardry/", target: '_blank', class: 'button-social-link' %>
      </div>
    </div>
  </div>
</footer>
