<turbo-frame id="main_content">
  <section id="photography-gallery" class="container py-5">
    <h2 class="text-center mb-5">Photography</h2>
    <div id="gallery-container" class="row">
      <div class="col-12 text-center" id="loading-message">
        <p style="color: #E2F1E7;">Loading photos...</p>
      </div>
    </div>
  </section>
  <% content_for :scripts_for_photography do %>
    <script>
      window.photography_data_local = <%= data.photography_data.to_json.html_safe %>;
    </script>
  <% end %>
</turbo-frame>
