<section id="photography-page">
  <h1>Photography</h1>
  <p>As a personal hobby, I've recently got into photography. This collection represents my ongoing work behind the lens.</p>
  <div class="photo-display-area">
    <div class="image-aspect-ratio-wrapper">
      <%# WRAP THE IMG WITH AN ANCHOR TAG %>
      <a href="/images/photography/1-DSCF3844_u4cobo.jpg" class="image-zoom-trigger">
        <img id="main-photo" src="/images/photography/1-DSCF3844_u4cobo.jpg" alt="Current Photo">
      </a>
    </div>
    <div class="photo-navigation">
      <button id="prevBtn">Prev</button> <%# Make sure ID is prevBtn %>
      <button id="nextBtn">Next</button> <%# Make sure ID is nextBtn %>
    </div>
  </div>
</section>
<% content_for :scripts_for_photography do %>
  <%= javascript_include_tag "photography_viewer" %>
<% end %>
