#photography-section {
  padding-top: 80px;   /* Set top padding to match projects-section */
  padding-bottom: 50px; /* Also add bottom padding for consistency */
  color: #E2F1E7;
}


// --- Photography Gallery Styles ---
#photography-gallery {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: transparent; // Ensure it respects the body gradient
  h2 { // Styles for the 'Photography' heading
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-size: 2.5rem;
  }
  .gallery-image {
    border: 2px solid $light-green;
    object-fit: cover;
    width: 100%;
    height: 250px; // Fixed height for consistent look, adjust as needed
    display: block; // Ensures no extra space below image
    margin: 0 auto; // Centers image within its column if it doesn't take full width
  }
  .image-caption {
    color: $text-color-page-content;
    font-size: 0.9rem;
  }
}
